.main {
    width: 60%;
    margin: 0 auto;
    font-family: monospace;
    padding: 10px;
    font-size: 16px;
    font-size: 18px;
    height: auto;

}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    border-bottom: 4px solid black;
}


.post-informations{
    margin-bottom: 50px
}


.interests {
    margin-bottom: 50px;
}

.main-content {
    width: 80%;
    margin: 0 auto;
}

.start-section {
    display: flex;
    justify-content: space-between;
}

.about-me {
    width: 50%;
    height: auto;
    padding: 10px;
    align-items: center;
}


.image {
    width: 200px;
    height: auto;
    object-fit: contain;
    margin-top: 25px;
    object-fit: contain;
}

.quote {

    width: 60%;
    background-color: rgb(255, 255, 255);
    height: fit-content;
    padding: 10px;
    align-items: center;
    margin: 0 auto;
    font-style: italic;
}


.second-section{
    display: flex;
    margin-top: 50px;
}

.left-block{
    width: 50%;
}

.right-block{
    width: 50%;
}


/* Mobile (480px and below) */
@media (min-width: 480px) {



    .main {

        width: 100%;
        padding: 25px;
    }

    .main-content {
        width: 100%;
    }

    .start-section{
        display: block;
        width: 100%;
        margin: 0 auto;
    }

    .second-section {
        display: block;
        width: 100%;
        margin: 0 auto;
    }

    .left-block{
        width: 100%;
    }

    .right-block{
        width: 100%;
    }

    .about-me {
        width: 100%;
    }

  }
