main {
    width: 80%;
    margin: 0 auto;
    font-family: monospace;
    padding: 10px;
    font-size: 16px;
    font-size: 18px;
    height: auto;

}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}


.post-informations{
    margin-bottom: 50px
}


.interests {
    margin-bottom: 50px;
}

.main-content {
    width: 80%;
    margin: 0 auto;
}

.start-section {
    display: flex;
    align-items: center;
}

.about-me {
    width: 60%;
    object-fit: contain;
    background-color: rgb(241, 241, 241);
    height: fit-content;
    padding: 10px;
    align-items: center;
    margin: 0 auto;

}

.image {
    width: 200px;
    height: auto;
    object-fit: contain;
    margin-top: 25px;
    object-fit: contain;
}