main {
    width: 60%;
    margin: 0 auto;
    background-color: rgb(235, 235, 235);
    font-family: monospace;
    padding: 10px;
    font-size: 16px;
    font-size: 18px;

}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid red;
}

.about-me {
    margin: 0 auto;
    border: 2px solid black;
    width: fit-content;
    margin-top: 25px;
}

.post-informations{
    margin-bottom: 50px
}