<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="styles.css" />
  </head>

<div class="main">
    <div class="nav">
      <h1>Jeffrey Freiwald</h1>
      <div class="nav-links">
        <span><a href="blog">Blog</a></span>
        <span><a href="projects">Projects</a></span>
      </div>
    </div>
  <body>
    {{ content }}

    <ul class="blog-posts">
      {{ for post of search.pages("post")}}
        <li><a href="/deno-lume-portfolio/{{post.url}}">{{post.title}}</a></li>
      {{/for}}
    </ul>
  </body>
</div>
</html>