<!DOCTYPE html>
<html lang="en">
  <head class="home-head">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="styles.css" />
  </head>

  <div class="main">
    <div class="nav">
      <h1>Jeffrey Freiwald</h1>
      <div class="nav-links">
        <span><a href="blog">Blog</a></span>
        <span><a href="projects">Projects</a></span>
      </div>
    </div>


    <div class='main-content'>
      <div class="start-section">
        <img class="image" src="assets/images/004.jpg" transform-images="">
        <div class="about-me">
            <h2>About me</h2>
            <p>Hi, I’m Jeffrey, a 26-year-old Junior Fullstack Software Developer based in Dortmund, Germany. I’m passionate about learning and mastering new technologies, and constantly expanding my skill set</p>
        </div>
      </div>

      <div class="second-section">
        <div class="left-block">
          <div class="interests">
            <h2>Interests</h2>
            <p>new technologies, computers, sports, music, art, writing</p>
          </div>

          <div class="interests">
            <h2>Technologies</h2>
            <p>
                PHP, TypeScript, Angular, Symfony, Docker, GIT, VIM, Debian, MariaDB, Deno, Lume
            </p>
          </div>
          <div class="interests">
            <h2>Socials</h2>
            <ul>
              <li><a href="https://github.com/jefrwld">github</a></li> 
            </ul>
          </div>
        </div>

        <div class="right-block">
            <div class="recent-posts">
              <h3>My Recent Blog Posts: </h3>
              <ul>
                {{ for post of search.pages("post").slice(0, 2) }}
                  <li><a href="{{post.url}}">{{post.title}}</a></li>
                {{/for}}
              </ul>
            </div>
        </div>
      </div>


  <body>
    {{ content }}
  </body>
  </div>
</html>