<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/deno-lume-portfolio/styles.css" />
    <link rel="stylesheet" href="/prism.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism-tomorrow.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
  </head>



  <div class="main">
    <div class="nav">
      <h1>jefrwld</h1>
      <div class="nav-links">
        <span><a href="/deno-lume-portfolio/blog">Blog</a></span>
        <span><a href="/deno-lume-portfolio/projects">Projects</a></span>
      </div>
    </div>

  <body>
    <div class="post-informations">
      by {{ author }}
    </div>
    {{ content }}
  </body>
  </div>
</html>